flows.json
[
    {
        "id": "5a960c5b35b8935d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c57432efa21a717",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65364233e097b60e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "84d6e3bfccbc4554",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "307f18a8c7fc0bd5",
        "type": "modbus-client",
        "name": "opc",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "ASCII",
        "serialBaudrate": "9600",
        "serialDatabits": "7",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a2bba9102577b8eb",
        "type": "ui_group",
        "name": "voyants",
        "tab": "84d6e3bfccbc4554",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94efdd0263268698",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d667cca9e4d7f182",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipse.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "19ac26b9089159aa",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc873bc66202a1a1",
        "type": "ui_link",
        "name": "Link 1",
        "link": "",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 1
    },
    {
        "id": "769f553075e77d4a",
        "type": "ui_group",
        "name": "Y",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59b2d9869b66cc6e",
        "type": "ui_group",
        "name": "configuration",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95bc733e.218b4",
        "type": "ui_group",
        "name": "Entrée",
        "tab": "d7fc954.0cb8a68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58fd4835.9abd98",
        "type": "ui_group",
        "name": "Bouttons",
        "tab": "d7fc954.0cb8a68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d786029.c71ed",
        "type": "ui_group",
        "name": "température",
        "tab": "d7fc954.0cb8a68",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ebef774.c21108",
        "type": "ui_group",
        "name": "Vitesse du moteur",
        "tab": "d7fc954.0cb8a68",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7fc954.0cb8a68",
        "type": "ui_tab",
        "name": "Fonctions de base",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75b5e9715b7daae1",
        "type": "ui_tab",
        "name": "Exploitation des données",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b59b803adde5ee5f",
        "type": "ui_group",
        "name": "Analyse de température",
        "tab": "75b5e9715b7daae1",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc1e206ec04d4854",
        "type": "ui_group",
        "name": "configuration",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c9b81f635538e1a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "84d6e3bfccbc4554",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "1323b8585a31b9f6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "84d6e3bfccbc4554",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "91c9de56113b0a06",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "84d6e3bfccbc4554",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "d27a1663f1a8968a",
        "type": "ui_group",
        "name": "configuration",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "573ea6b2fbb159d1",
        "type": "ui_group",
        "name": "bouttons",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c181534c4e53fbc4",
        "type": "ui_group",
        "name": "voyants",
        "tab": "84d6e3bfccbc4554",
        "order": 4,
        "disp": true,
        "width": "2",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f8de15fc8fd47d7",
        "type": "ui_group",
        "name": "OUTPUTS",
        "tab": "84d6e3bfccbc4554",
        "order": 6,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c5d3d821a463556",
        "type": "ui_group",
        "name": "Moteurs",
        "tab": "84d6e3bfccbc4554",
        "order": 7,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f866472b6cfb45b",
        "type": "ui_group",
        "name": "afficheur 7 seg",
        "tab": "84d6e3bfccbc4554",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2d480b8000a4f03",
        "type": "MySQLdatabase",
        "name": "",
        "host": "89.117.9.123",
        "port": "3306",
        "db": "u674759547_dbmindeq",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "3031cc9be4abd77e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "41911c8b3ab30a27",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.33",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "c13972334e080d75",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3f515cf03f31e09f",
        "type": "ui_group",
        "name": "configuration",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79c93d6a4b18c74b",
        "type": "ui_group",
        "name": "configuration",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d00c812708a2bdf",
        "type": "ui_group",
        "name": "configuration",
        "tab": "84d6e3bfccbc4554",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee6b59f8b819c3b0",
        "type": "ui_tab",
        "name": "Tab 6",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "8af3156c7d7cdfa8",
        "type": "ui_group",
        "name": "Selection date",
        "tab": "ee6b59f8b819c3b0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e46086f2e3899ba",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "ee6b59f8b819c3b0",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "bff00bf35a1c69bf",
        "type": "firebase config",
        "d": true,
        "firebaseurl": "mindeq-bf432-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "20e14e74bf411b32",
        "type": "database-config",
        "name": "machine_teinture_db",
        "authType": "privateKey",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "7986ac5d2972136f",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "7a79cdf6108f4751",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "d76329c2513a1832",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "0a0258bd812d5074",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "0352a0c631b917b8",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "e35db230c97414f8",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "ec5dc3a380368d11",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "c997b35eb6a4bead",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a36b571566406fb",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "846a37f5c70f2698",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "430350cc8098e61e",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac2a282ded9bd864",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "58abf506eae53eb1",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "af81a714a3b2934e",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "1afe2d1c905cebec",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "634298c8598394d6",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5930a1c3627e1fd7",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "e782423874bb7d2e",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "dc972086304d9eb0",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "9c7cd4449638fdc9",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "aa3828538f20bc4a",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c1b487b9fbdc828",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d452ef6b341981c",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "5390d315e168e61b",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "034d2c2ca786459a",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "63beee5a37905175",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "c42ebbe7278a2f49",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "8199744c60c3faf9",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f0ed36db1adc364",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "571411ef230ae149",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "ce9dbfac8a3dc69a",
        "type": "ui_spacer",
        "z": "8c57432efa21a717",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 13,
        "width": 8,
        "height": 1
    },
    {
        "id": "0a97d87e14763514",
        "type": "ui_group",
        "name": "Selection date",
        "tab": "7b49a63af6baa3d5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2fda1ca9c74d814",
        "type": "ui_group",
        "name": "EAU",
        "tab": "7b49a63af6baa3d5",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b316a731f2e67ed",
        "type": "ui_group",
        "name": "Consomation",
        "tab": "7b49a63af6baa3d5",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b49a63af6baa3d5",
        "type": "ui_tab",
        "name": "Affichage données",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "be53438ebdb3a8b4",
        "type": "firebase-get",
        "z": "5a960c5b35b8935d",
        "name": "machine_teinture_db",
        "constraint": {},
        "database": "20e14e74bf411b32",
        "outputType": "auto",
        "passThrough": false,
        "path": "OjGW6yGVQFeMDmwuCAuD5wo0pPe2/machine1/",
        "pathType": "str",
        "useConstraint": false,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "bee89fab9e958c49",
                "13b316ee134fdf43"
            ]
        ]
    },
    {
        "id": "e5e9ef6fc33e1974",
        "type": "inject",
        "z": "5a960c5b35b8935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "be53438ebdb3a8b4"
            ]
        ]
    },
    {
        "id": "bee89fab9e958c49",
        "type": "debug",
        "z": "5a960c5b35b8935d",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "6ad906ddb174a0dd",
        "type": "ui_date_picker",
        "z": "5a960c5b35b8935d",
        "name": "",
        "label": "début",
        "group": "0a97d87e14763514",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 50,
        "y": 540,
        "wires": [
            [
                "0dc189f9e2439f5e"
            ]
        ]
    },
    {
        "id": "fa360b08ac4c428d",
        "type": "ui_date_picker",
        "z": "5a960c5b35b8935d",
        "name": "",
        "label": "fin",
        "group": "0a97d87e14763514",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 50,
        "y": 580,
        "wires": [
            [
                "6e5a90fe17235445"
            ]
        ]
    },
    {
        "id": "091ee1977e8feefb",
        "type": "ui_gauge",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "EAU DURE",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 1220,
        "wires": []
    },
    {
        "id": "77e7c55b277d210d",
        "type": "ui_gauge",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 2,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "EAU DOUCE",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7cfacd4b2669c0b1",
        "type": "ui_chart",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 8,
        "width": 7,
        "height": 4,
        "label": "EAU DURE",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "cf7d7e4afec62c38",
        "type": "ui_chart",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 9,
        "width": 7,
        "height": 4,
        "label": "EAU DOUCE",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "34f686d97f879071",
        "type": "inject",
        "z": "5a960c5b35b8935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "091ee1977e8feefb"
            ]
        ]
    },
    {
        "id": "32397a4937072cb0",
        "type": "template",
        "z": "5a960c5b35b8935d",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"options\":{\n        \"waveColor\" : \"#66FFF7\"\n    }\n}",
        "output": "json",
        "x": 560,
        "y": 1300,
        "wires": [
            [
                "77e7c55b277d210d"
            ]
        ]
    },
    {
        "id": "7bb8a42dd38ae2a2",
        "type": "inject",
        "z": "5a960c5b35b8935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "32397a4937072cb0"
            ]
        ]
    },
    {
        "id": "e26df6434f5edbba",
        "type": "ui_chart",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 1,
        "width": 7,
        "height": 5,
        "label": "Consomation KW",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "3037b2581ad932ba",
        "type": "ui_button",
        "z": "5a960c5b35b8935d",
        "d": true,
        "name": "",
        "group": "0a97d87e14763514",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "6f106af6d707a18e",
        "type": "ui_button",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "write",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"series\":[\"A\"],\"data\":[[{\"x\":1696701124000,\"y\":90},{\"x\":1696708324000,\"y\":40},{\"x\":1696711924000,\"y\":80},{\"x\":1696715524000,\"y\":10},{\"x\":1696719124000,\"y\":60},{\"x\":1696722724000,\"y\":2}]],\"labels\":[\"\"]}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1420,
        "wires": [
            [
                "e26df6434f5edbba",
                "7cfacd4b2669c0b1",
                "cf7d7e4afec62c38"
            ]
        ]
    },
    {
        "id": "404c2ea5a4296859",
        "type": "ui_chart",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 7,
        "width": 7,
        "height": 5,
        "label": "Consomation KW",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "ebdb1885a2b1751e",
        "type": "ui_button",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "write",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"series\":[\"A\"],\"data\":[[70,90,20,50,90,30,60]],\"labels\":[\"1\",\"2\",\"3\",\"4\",\"5\"]}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1560,
        "wires": [
            [
                "404c2ea5a4296859",
                "73d24e602472f7ed",
                "912b7c7fa8077ea0"
            ]
        ]
    },
    {
        "id": "ecbcb3670dfd24cd",
        "type": "inject",
        "z": "5a960c5b35b8935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "77e7c55b277d210d"
            ]
        ]
    },
    {
        "id": "73d24e602472f7ed",
        "type": "ui_chart",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 14,
        "width": 7,
        "height": 4,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "912b7c7fa8077ea0",
        "type": "ui_chart",
        "z": "5a960c5b35b8935d",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 15,
        "width": 7,
        "height": 4,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "13b316ee134fdf43",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "object -> array",
        "func": "// Assuming msg.payload contains the object\nglobal.set(\"object\", msg.payload);\n\n\nvar inputObject = msg.payload;\n\n// Convert object values to an array\nvar outputArray = Object.values(inputObject);\n\nglobal.set(\"outputArray\", outputArray);\n// Update msg.payload with the resulting array\n\nmsg.payload = outputArray;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "19ffe85e53122df1"
            ]
        ]
    },
    {
        "id": "d793d0edf3a6ea5f",
        "type": "debug",
        "z": "5a960c5b35b8935d",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "19ffe85e53122df1",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "gets all timestamps into array",
        "func": "// Initialize the global variable if not already done\nglobal.set('timestamp', []);\n\n\n// Iterate through msg.payload and extract timestamp values\nfor (let i = 0; i < msg.payload.length; i++) {\n    let currentTimestamp = msg.payload[i].timestamp;\n\n    // Add the current timestamp to the global array\n    global.get('timestamp').push(currentTimestamp);\n}\n\n// Log the updated global timestamp array\nconsole.log(\"Updated timestamp array:\", global.get('timestamp'));\n\nmsg.payload = global.get('timestamp');\n//msg.payload = msg.payload.length\n// Continue the flow by passing the original message\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 200,
        "wires": [
            [
                "d793d0edf3a6ea5f",
                "65ca9e70c4cc6c97"
            ]
        ]
    },
    {
        "id": "0dc189f9e2439f5e",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "div 1000",
        "func": "msg.payload = msg.payload/1000\nglobal.set('début', msg.payload );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 540,
        "wires": [
            [
                "65ca9e70c4cc6c97"
            ]
        ]
    },
    {
        "id": "6e5a90fe17235445",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "div 1000",
        "func": "msg.payload = msg.payload/1000\nglobal.set('fin', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 580,
        "wires": [
            [
                "65ca9e70c4cc6c97"
            ]
        ]
    },
    {
        "id": "65ca9e70c4cc6c97",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "time range selector between_d_f & i",
        "func": "var d = global.get('début');\nvar f = global.get('fin');\nvar ts = global.get('timestamp');\nmsg.payload = f;\n\nvar between_d_f = [];\nvar indicesArray = [];\n\n// Filter numbers in the input array\nfor (var i = 0; i < ts.length; i++) {\n    var currentNumber = ts[i];\n\n    if (currentNumber > d && currentNumber < f) {\n        between_d_f.push(currentNumber);\n        indicesArray.push(i);\n    }\n}\n\n// Store the output array in flow context\nglobal.set(\"between_d_f\", between_d_f);\nglobal.set(\"indicesArray\", indicesArray);\n\n// Output the result (optional)\nreturn {\n    payload: {\n        between_d_f: between_d_f,\n        indicesArray: indicesArray\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "0259a9d7029a8cfd",
                "ef8d0a45a472bdae"
            ]
        ]
    },
    {
        "id": "0259a9d7029a8cfd",
        "type": "debug",
        "z": "5a960c5b35b8935d",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "ef8d0a45a472bdae",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "objects in range of time",
        "func": "var i = global.get('indicesArray');\nvar o = global.get('outputArray');\n\nvar nvArray = [];\n\nfor (var j = 0; j < i.length; j++) {\n\n    var currentIndex = i[j];\n\n    // Check if the index is within the bounds of 'o' array\n   \n    nvArray.push(o[currentIndex]);\n\n}\n\nmsg.payload = nvArray;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "da8d389f7116cfa3",
                "9b5dc22012e386da"
            ]
        ]
    },
    {
        "id": "da8d389f7116cfa3",
        "type": "debug",
        "z": "5a960c5b35b8935d",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "9b5dc22012e386da",
        "type": "function",
        "z": "5a960c5b35b8935d",
        "name": "function 1",
        "func": "msg.payload=msg.payload[0].consomation\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 580,
        "wires": [
            [
                "bd540d15b571d69d"
            ]
        ]
    },
    {
        "id": "bd540d15b571d69d",
        "type": "debug",
        "z": "5a960c5b35b8935d",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 580,
        "wires": []
    }
]