flows.json
[
    {
        "id": "8c57432efa21a717",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc7fe9daa568b682",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ebd3fc80e35c6fc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65364233e097b60e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "307f18a8c7fc0bd5",
        "type": "modbus-client",
        "name": "opc",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "ASCII",
        "serialBaudrate": "9600",
        "serialDatabits": "7",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "a2bba9102577b8eb",
        "type": "ui_group",
        "name": "voyants",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94efdd0263268698",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d667cca9e4d7f182",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipse.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "769f553075e77d4a",
        "type": "ui_group",
        "name": "Y",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59b2d9869b66cc6e",
        "type": "ui_group",
        "name": "configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95bc733e.218b4",
        "type": "ui_group",
        "name": "Entrée",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58fd4835.9abd98",
        "type": "ui_group",
        "name": "Bouttons",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d786029.c71ed",
        "type": "ui_group",
        "name": "température",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ebef774.c21108",
        "type": "ui_group",
        "name": "Vitesse du moteur",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b59b803adde5ee5f",
        "type": "ui_group",
        "name": "Analyse de température",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc1e206ec04d4854",
        "type": "ui_group",
        "name": "configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1c9b81f635538e1a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "1323b8585a31b9f6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "91c9de56113b0a06",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 30
    },
    {
        "id": "d27a1663f1a8968a",
        "type": "ui_group",
        "name": "configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "573ea6b2fbb159d1",
        "type": "ui_group",
        "name": "bouttons",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c181534c4e53fbc4",
        "type": "ui_group",
        "name": "voyants",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "2",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f8de15fc8fd47d7",
        "type": "ui_group",
        "name": "OUTPUTS",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c5d3d821a463556",
        "type": "ui_group",
        "name": "Moteurs",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f866472b6cfb45b",
        "type": "ui_group",
        "name": "afficheur 7 seg",
        "tab": "",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2d480b8000a4f03",
        "type": "MySQLdatabase",
        "name": "",
        "host": "89.117.9.123",
        "port": "3306",
        "db": "u674759547_dbmindeq",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "3031cc9be4abd77e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "test",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "41911c8b3ab30a27",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.33",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "c13972334e080d75",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "queueLogEnabled": true,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM3",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3f515cf03f31e09f",
        "type": "ui_group",
        "name": "configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79c93d6a4b18c74b",
        "type": "ui_group",
        "name": "configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d00c812708a2bdf",
        "type": "ui_group",
        "name": "configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8af3156c7d7cdfa8",
        "type": "ui_group",
        "name": "Selection date",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e46086f2e3899ba",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "bff00bf35a1c69bf",
        "type": "firebase config",
        "d": true,
        "firebaseurl": "mindeq-bf432-default-rtdb",
        "loginType": "none"
    },
    {
        "id": "20e14e74bf411b32",
        "type": "database-config",
        "name": "machine_teinture_db",
        "authType": "privateKey",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "0a97d87e14763514",
        "type": "ui_group",
        "name": "Selection date",
        "tab": "7b49a63af6baa3d5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2fda1ca9c74d814",
        "type": "ui_group",
        "name": "EAU",
        "tab": "7b49a63af6baa3d5",
        "order": 2,
        "disp": true,
        "width": 19,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b316a731f2e67ed",
        "type": "ui_group",
        "name": "Consomation",
        "tab": "7b49a63af6baa3d5",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b49a63af6baa3d5",
        "type": "ui_tab",
        "name": "Affichage données",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "906bf22037b8c4fa",
        "type": "ui_group",
        "name": "Group 17",
        "tab": "",
        "order": 17,
        "disp": true,
        "width": 6
    },
    {
        "id": "914281e095fed6c3",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "15f8d8ab602ca6e9",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "6b9622ae744fecc6",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "82792773b320c440",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "de5fe08e56eb0248",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "a4580c0e31e80a46",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "43d3b228ef564992",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "0a97d87e14763514",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "863f63bf83dc4250",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "8967758389d3adf7",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "a8314bd4797bbf11",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "48af1994c773d3ed",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "953ef83ad02ae109",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "e136e7c03372f872",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1250180ebee4648b",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "87b1780c60e8bc11",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "d132e7b83b20cdd1",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "e08071d23f997370",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0742aca7ea6798d",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "61c1be55df1356fb",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "64f311934ad9f70d",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a0d32070f620ddb",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "70522ca74be51b12",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0c9ebea5d52a91b",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "4f67af91f9a05fb5",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "4067320ce82f3df6",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d2a3828227ec1ab",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f6877a3b75a3e06",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "81a90f8bcc64f68a",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "89898fac705c5473",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb3cb50a16bf9af0",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 27,
        "width": 19,
        "height": 1
    },
    {
        "id": "848a3e62d26c0edc",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "efc7ca95309520f7",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 30,
        "width": 3,
        "height": 1
    },
    {
        "id": "52397bf0587a1db4",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "70dbd91085c0a26e",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "60d303ddaeb152e2",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 34,
        "width": 3,
        "height": 1
    },
    {
        "id": "f86c56f92ee2bf57",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "f797e3b21b5ed7b2",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "2cdf56770bc94fa0",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 37,
        "width": 3,
        "height": 1
    },
    {
        "id": "58bb65b1bf37faf1",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "a82bb6ceac802f07",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "85b6ccb9c6b020a1",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 40,
        "width": 3,
        "height": 1
    },
    {
        "id": "a1aa5f746eb2ea18",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "71d91ed3ccb17193",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf4bce398f23acfe",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 43,
        "width": 3,
        "height": 1
    },
    {
        "id": "ebab809138677a95",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "f2fda1ca9c74d814",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "40da5b61633df235",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5473ea820ae5c8e",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4d348537714988e",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b58c0bf1a3ac1432",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "ead4bbede093f440",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c60ac8a56d10185",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "a99f2b669e56f269",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "29045177d25ec4a5",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddb950140a7aada7",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b88ee96296134c02",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f588d3151c8f47b",
        "type": "ui_spacer",
        "z": "fc7fe9daa568b682",
        "name": "spacer",
        "group": "6b316a731f2e67ed",
        "order": 13,
        "width": 8,
        "height": 1
    },
    {
        "id": "230b0d7be75ccff9",
        "type": "firebase-get",
        "z": "fc7fe9daa568b682",
        "name": "machine_teinture_db",
        "constraint": {},
        "database": "20e14e74bf411b32",
        "outputType": "auto",
        "passThrough": false,
        "path": "OjGW6yGVQFeMDmwuCAuD5wo0pPe2/machine1/",
        "pathType": "str",
        "useConstraint": false,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "88ce6866dd1d2955",
                "ae183f298cb0f72c"
            ]
        ]
    },
    {
        "id": "06f2a38529b947f7",
        "type": "inject",
        "z": "fc7fe9daa568b682",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "230b0d7be75ccff9"
            ]
        ]
    },
    {
        "id": "88ce6866dd1d2955",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "14e0216c9fdf7f46",
        "type": "ui_date_picker",
        "z": "fc7fe9daa568b682",
        "name": "",
        "label": "début",
        "group": "0a97d87e14763514",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 50,
        "y": 540,
        "wires": [
            [
                "71d57880775722a4"
            ]
        ]
    },
    {
        "id": "c9bbb15342739a95",
        "type": "ui_date_picker",
        "z": "fc7fe9daa568b682",
        "name": "",
        "label": "fin",
        "group": "0a97d87e14763514",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 50,
        "y": 580,
        "wires": [
            [
                "efcf167511acb67b"
            ]
        ]
    },
    {
        "id": "fec175127c745b74",
        "type": "ui_gauge",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 2,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "EAU DURE",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 1220,
        "wires": []
    },
    {
        "id": "914ac717d115c7a4",
        "type": "ui_gauge",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 4,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "EAU DOUCE",
        "label": "L",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 1300,
        "wires": []
    },
    {
        "id": "4e16a23cc39b7be1",
        "type": "ui_chart",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 18,
        "width": 9,
        "height": 7,
        "label": "EAU DURE",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "4fcf5023b513d592",
        "type": "ui_chart",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 20,
        "width": 9,
        "height": 7,
        "label": "EAU DOUCE",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "793da37d75512375",
        "type": "inject",
        "z": "fc7fe9daa568b682",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "fec175127c745b74"
            ]
        ]
    },
    {
        "id": "b0d1c2d1e3a139c2",
        "type": "template",
        "z": "fc7fe9daa568b682",
        "name": "",
        "field": "ui_control",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"options\":{\n        \"waveColor\" : \"#66FFF7\"\n    }\n}",
        "output": "json",
        "x": 560,
        "y": 1300,
        "wires": [
            [
                "914ac717d115c7a4"
            ]
        ]
    },
    {
        "id": "3cae2c6478b4bd45",
        "type": "inject",
        "z": "fc7fe9daa568b682",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "b0d1c2d1e3a139c2"
            ]
        ]
    },
    {
        "id": "0023ece517069d62",
        "type": "ui_chart",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 1,
        "width": 7,
        "height": 5,
        "label": "Consomation KW",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "66a852e5fafe5a95",
        "type": "ui_button",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "write charts",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 1440,
        "wires": [
            [
                "64282c0b02758047",
                "b98569727d013732",
                "87a8a437da1de8a6"
            ]
        ]
    },
    {
        "id": "b346f9da725e5f52",
        "type": "ui_chart",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 7,
        "width": 7,
        "height": 5,
        "label": "Consomation KW bar chart ",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "91a97dcfde6de741",
        "type": "ui_button",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "6b316a731f2e67ed",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "write",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"series\":[\"A\"],\"data\":[[70,90,20,50,90,30,60]],\"labels\":[\"1\",\"2\",\"3\",\"4\",\"5\"]}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1560,
        "wires": [
            [
                "b346f9da725e5f52",
                "b0c34abfc938aced",
                "31ed4b7a5c0756eb"
            ]
        ]
    },
    {
        "id": "8410f7783dd0ef07",
        "type": "inject",
        "z": "fc7fe9daa568b682",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 230,
        "y": 1360,
        "wires": [
            [
                "914ac717d115c7a4"
            ]
        ]
    },
    {
        "id": "b0c34abfc938aced",
        "type": "ui_chart",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 29,
        "width": 7,
        "height": 5,
        "label": "Eau dure bar chart",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "31ed4b7a5c0756eb",
        "type": "ui_chart",
        "z": "fc7fe9daa568b682",
        "name": "",
        "group": "f2fda1ca9c74d814",
        "order": 31,
        "width": 7,
        "height": 5,
        "label": "Eau dure bar chart",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "ae183f298cb0f72c",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "object -> array",
        "func": "// Assuming msg.payload contains the object\nglobal.set(\"object\", msg.payload);\n\n\nvar inputObject = msg.payload;\n\n// Convert object values to an array\nvar outputArray = Object.values(inputObject);\n\nglobal.set(\"outputArray\", outputArray);\n// Update msg.payload with the resulting array\n\nmsg.payload = outputArray;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "f07e0b8feefa1a35"
            ]
        ]
    },
    {
        "id": "64c84d6393938d83",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "f07e0b8feefa1a35",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "gets all timestamps into array",
        "func": "// Initialize the global variable if not already done\nglobal.set('timestamp', []);\n\n\n// Iterate through msg.payload and extract timestamp values\nfor (let i = 0; i < msg.payload.length; i++) {\n    let currentTimestamp = msg.payload[i].timestamp;\n\n    // Add the current timestamp to the global array\n    global.get('timestamp').push(currentTimestamp);\n}\n\n// Log the updated global timestamp array\nconsole.log(\"Updated timestamp array:\", global.get('timestamp'));\n\nmsg.payload = global.get('timestamp');\n//msg.payload = msg.payload.length\n// Continue the flow by passing the original message\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 200,
        "wires": [
            [
                "64c84d6393938d83",
                "71471660501f36f4"
            ]
        ]
    },
    {
        "id": "71d57880775722a4",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "div 1000",
        "func": "msg.payload = msg.payload/1000\nglobal.set('début', msg.payload );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 540,
        "wires": [
            [
                "71471660501f36f4",
                "fef9e0f5f9a9afe9"
            ]
        ]
    },
    {
        "id": "efcf167511acb67b",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "div 1000",
        "func": "msg.payload = msg.payload/1000\nglobal.set('fin', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 580,
        "wires": [
            [
                "71471660501f36f4",
                "631dd122e949d5e0"
            ]
        ]
    },
    {
        "id": "71471660501f36f4",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "time range selector between_d_f & i",
        "func": "var d = global.get('début');\nvar f = global.get('fin');\nvar ts = global.get('timestamp');\nmsg.payload = f;\n\nvar timestamp_btw = [];\nvar indicesArray = [];\n\n// Filter numbers in the input array\nfor (var i = 0; i < ts.length; i++) {\n    var currentNumber = ts[i];\n\n    if (currentNumber > d && currentNumber < f) {\n        timestamp_btw.push(currentNumber);\n        indicesArray.push(i);\n    }\n}\n\n// Store the output array in flow context\nglobal.set(\"timestamp_btw\", timestamp_btw);\nglobal.set(\"indicesArray\", indicesArray);\n\n// Output the result (optional)\nreturn {\n    payload: {\n        timestamp_btw: timestamp_btw,\n        indicesArray: indicesArray\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "769ed342f3aa23e2",
                "39a68f45119cb08e"
            ]
        ]
    },
    {
        "id": "769ed342f3aa23e2",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "39a68f45119cb08e",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "objects in range of time",
        "func": "var i = global.get('indicesArray');\nvar o = global.get('outputArray');\n\nvar nvArray = [];\n\nfor (var j = 0; j < i.length; j++) {\n\n    var currentIndex = i[j];\n\n    // Check if the index is within the bounds of 'o' array\n   \n    nvArray.push(o[currentIndex]);\n\n}\n\nmsg.payload = nvArray;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "7ff2dcec2091037d",
                "dedfecf9c630e57f"
            ]
        ]
    },
    {
        "id": "7ff2dcec2091037d",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "dedfecf9c630e57f",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "function 1",
        "func": "var i = global.get('indicesArray');\n\nvar m = msg.payload;\n\nvar consomation = [];\nvar douce = [];\nvar dure = [];\n\nfor (var j = 0; j < i.length; j++) {\n\n    consomation.push(m[j].consomation);\n    douce.push(m[j].douce);\n    dure.push(m[j].dure);\n\n}\n\nglobal.set(\"consomation\", consomation);\nglobal.set(\"dure\", dure);\nglobal.set(\"douce\", douce);\n\nreturn {\n    payload: {\n        consomation: consomation,\n        dure: dure,\n        douce: douce\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 560,
        "wires": [
            [
                "1b61f4ebfd4500cd"
            ]
        ]
    },
    {
        "id": "1b61f4ebfd4500cd",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 560,
        "wires": []
    },
    {
        "id": "fef9e0f5f9a9afe9",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "631dd122e949d5e0",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "64282c0b02758047",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "function 2",
        "func": "var timestamp = global.get('timestamp');\nvar dure = global.get(\"dure\");\nvar dataPoints = [];\n\n\nfor (var i = 0; i < timestamp.length; i++) {\n    dataPoints.push({\n        x: timestamp[i]*1000,\n        y: dure[i]\n    });\n}\n\nvar payload = [{\n    series: [\"A\"],\n    data: [dataPoints],\n    labels: [\"\"]\n}];\n\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1400,
        "wires": [
            [
                "4e16a23cc39b7be1",
                "ba561d7a784dcd70"
            ]
        ]
    },
    {
        "id": "ba561d7a784dcd70",
        "type": "debug",
        "z": "fc7fe9daa568b682",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b98569727d013732",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "function 3",
        "func": "var timestamp = global.get('timestamp');\nvar douce = global.get(\"douce\");\nvar dataPoints = [];\n\n\nfor (var i = 0; i < timestamp.length; i++) {\n    dataPoints.push({\n        x: timestamp[i]*1000,\n        y: douce[i]\n    });\n}\n\nvar payload = [{\n    series: [\"A\"],\n    data: [dataPoints],\n    labels: [\"\"]\n}];\n\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1440,
        "wires": [
            [
                "4fcf5023b513d592"
            ]
        ]
    },
    {
        "id": "87a8a437da1de8a6",
        "type": "function",
        "z": "fc7fe9daa568b682",
        "name": "function 4",
        "func": "var timestamp = global.get('timestamp');\nvar consomation = global.get(\"consomation\");\nvar dataPoints = [];\n\n\nfor (var i = 0; i < timestamp.length; i++) {\n    dataPoints.push({\n        x: timestamp[i]*1000,\n        y: consomation[i]\n    });\n}\n\nvar payload = [{\n    series: [\"A\"],\n    data: [dataPoints],\n    labels: [\"\"]\n}];\n\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1480,
        "wires": [
            [
                "0023ece517069d62"
            ]
        ]
    }
]